* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

h1, h2 {
    text-decoration: white;
    font-family: rock salt;
}

h5 {
    margin: 15px 0px;
}

label {
    margin: 15px 0px;
}

button:hover {
    cursor: pointer;
}

.option-container {
    text-align: center;
    margin-top: 50px;
}

.option-container h1 {
    color: white;
}

.drink-box {
    background: #ddd;
    border-radius: 5px;
    padding: 15px 15px 20px 15px;
    margin: 10px auto;
    text-align: center;
    max-width: 70%;
}

.drink-box:hover {
    cursor: pointer;
}

.light-bg {
    background: grey;
    
}

.results-bg {
    margin-top: 200px;
    background-color: grey;
    border-radius: 5px;
    padding: 15px 15px 20px 15px;
    margin: 10px auto;
    text-align: center;
    max-width: 70%;
}

.option-pic {
    max-width: 250px;
    margin: 10px;
    border: solid 6px grey;
    border-radius: 5px;
}

.return-button {
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    padding: 20px;
    margin: 15px;
    background: grey;
    color: black;
    border-style: none;
    border-radius: 5px;
}

.white-text {
    font-family: rock salt;
}

#random-container {
    margin-top: 50px;
}

.brand-logo center {
    max-width: 40%;
    height: auto;
}

.song-box {
    padding: 15px;
    margin: 40px 0 10px 0;
    border-radius: 5px;
    background: white;
}

audio {
    width: 100%;
    max-width: 250px;
}

  @media only screen and (max-width: 430px) {
      .option-pic {
          width: 80%;
      }
      
      .results-bg h2 {
          font-size: 2em;
      }

      .drink-box h2 {
          font-size: 2em;
      }
  }


