* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

h1, h2 {
    font-family: rock salt;
}

button:hover {
    cursor: pointer;
}

.option-container {
    text-align: center;
}

.drink-box {
    background: #ddd;
    border-radius: 5px;
    padding: 15px 15px 20px 15px;
    margin: 10px auto;
    text-align: center;
    max-width: 70%;
}

.drink-box:hover {
    cursor: pointer;
}

.light-bg {
    background: grey;
    
}

.results-bg {
    text-decoration: white;
    background: ;
}

.option-pic {
    width: 250px;
    margin: 10px;
    border: solid 6px black;
    border-radius: 5px;
}

.return-button {
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    padding: 20px;
    margin: 15px;
    background: grey;
    color: black;
    border-style: none;
    border-radius: 5px;
}

.white-text {
    font-family: rock salt;
}



